body {
    background-color: #DEF5E5;
   }

   hr {

    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0;
    width: 5%;
   }

   h1 {
    color: #3a5757;
   }

   h3 {
    color: #67d0d0;
   }